<form [formGroup]="form">
  <div class="m-2 bg-primary p-1 border rounded text-white">
    <div class="mx-2">
      <label for="sell">Sprzedarz</label>
      <input
        formControlName="operation"
        class="mx-2"
        type="radio"
        value="ask"
        name="operation"
        id="sell" />
    </div>
    <div class="mx-2">
      <label for="buy">Kupno</label>
      <input
        formControlName="operation"
        class="mx-2"
        type="radio"
        value="bid"
        name="operation"
        id="buy" />
    </div>
  </div>
  <div class="m-2 bg-primary p-1 border rounded text-white">
    <label for="start-currency">Waluta wyjściowa</label>
    <select
      formControlName="startCurrency"
      class="mx-1 rounded"
      name="start-currency"
      id="start-currency">
      <option value="PLN">złoty polski</option>
      <option
        *ngFor="
          let availableCurrency of availableCurrencyList$ | async;
          trackBy: trackByCurrencyCode
        "
        [value]="availableCurrency.code">
        {{ availableCurrency.currency }}
      </option>
    </select>
  </div>
  <div class="m-2 bg-primary p-1 border rounded text-white">
    <label for="start-money-qty">Kwota wyjściowa</label>
    <input
      formControlName="startMoneyQty"
      class="mx-1 rounded"
      type="number"
      name="start-money-qty"
      id="start-money-qty" />
  </div>
  <div class="m-2 bg-primary p-1 border rounded text-white">
    <label for="target-currency">Waluta docelowa</label>
    <select
      formControlName="targetCurrency"
      class="mx-1 rounded"
      name="target-currency"
      id="target-currency">
      <option value="PLN">złoty polski</option>
      <option
        *ngFor="
          let availableCurrency of availableCurrencyList$ | async;
          trackBy: trackByCurrencyCode
        "
        [value]="availableCurrency.code">
        {{ availableCurrency.currency }}
      </option>
    </select>
  </div>
</form>

<div *ngIf="moneyExchangeResult | async as result" class="bg-success">
  <p>Kwota wymiany: {{ result.qty }}</p>
  <p>Kurs wymiany: {{ result.exchangeRate }}</p>
</div>
